body
  background url("https://cdn.sguan.top/makrdown/20200715124131.png") fixed

code
  color #165ECA
  font-size 1.05em
  font-weight bold

.content blockquote
  padding 0.75em
  border-radius 1px

.navbar
  background rgba(255,255,255,1)

.section
  padding-top 100px

.container .columns .post-navigation
  margin 1px 0px 1px 0px !important
  padding 19px 0px 19px 0px
  background #fff
  border-radius 3px

.footer
  backdrop-filter: blur(7px)
  background rgba(255,255,255,0.7)

.hljs-keyword
  color #de783b

.hljs-title
  color #44ca2a

figure.highlight
  border-radius 3px

figure.highlight figcaption *
  color #d0d4db

.highlight
  background-color #282c34

.highlight-body
  background-color: #282c34
  color: #d0d4db

.highlight-body::-webkit-scrollbar-thumb
  background: rgba(255,255,102,0.5)
  box-shadow: inset 0 0 10px rgba(0,0,0,0.2)

.highlight-body::-webkit-scrollbar-thumb:hover
  background: rgba(255,255,102,0.65)


article h1
  font-size: 2.3rem !important
  font-weight bolder !important

article h2,article h3, article h4
  font-weight bold !important

article h2
  font-size: 1.9rem !important

article h3
  font-size: 1.6rem !important

article h4
  font-size: 1.3rem !important

.thumbnail
  object-fit fill
  background-color #ffffff