code
  color #165ECA
  font-size 1.05em
  font-weight bold

.content blockquote
  padding 0.75em

body
  background url("https://cdn.sguan.top/makrdown/20200715124131.png") fixed

.navbar
  background rgba(255,255,255,1)

.section
  padding-top 100px

.container .columns .post-navigation
  margin 1px 0px 1px 0px !important
  padding 19px 0px 19px 0px
  background #fff
  border-radius 3px

.footer
  backdrop-filter: blur(7px)
  background rgba(255,255,255,0.7)
