html,
body {
  margin: 0;
  padding: 0;
  position: relative;
}

body {
  font-family: 'Merriweather', serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', sans-serif;
  color: #222;
}

a {
  outline: none;
}

code {
  max-width: 100%;
  overflow: auto;
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  overflow: hidden;
  position: relative;
}

.header {
  padding: 20px 0;
  position: relative;
  background: #f5f5f5;
  border-bottom: 1px solid #eaeaea;
}

.nav {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 15px;
  font-family: 'Lato', sans-serif;
  text-align: right;
}

.nav-logo {
  float: left;
  margin-top: -11px;
  transition: transform 150ms ease-out;
}

.nav-logo:hover {
  transform: scale(1.1);
}

.nav-logo img {
  display: block;
  max-height: 40px;
  width: auto;
}

.nav-links {
  margin: 0;
  padding: 0;
  font-size: 14px;
  list-style: none;
}

.nav-links li {
  display: inline-block;
  margin: 0 0 0 15px;
}

.nav-links li:first-child {
  margin-left: 0;
}

.nav-links a {
  text-decoration: none;
  color: #111;
}

.nav-links a:hover {
  color: #000;
}

.content {
  max-width: 700px;
  margin: 60px auto 80px;
  padding: 0px 15px 400px;
  font-size: 16px;
  line-height: 1.7;
  color: #555;
}

.article-title {
  font-size: 34px;
  color: #222;
  margin: 0;
  line-height: 1.3;
}

.article-date {
  color: #ccc;
}

.article-duration {
  margin-top: 12px;
  float: right;
  font-size: 10px;
  font-family: 'Lato', sans-serif;
  padding: 1px 5px;
  font-weight: bold;
  border-radius: 3px;
  background: #bbb;
  color: #fff
}

.article-content p {
  margin: 15px 0 25px;
}

.article-content a {
  text-decoration: none;
  color: #306bcc;
}

.article-content a:hover {
  color: #270bcc;
}

.article-content a:not:hover {
  color: #306bcc;
}

.article-content hr {
  width: 150px;
  margin: 50px auto;
  height: 1px;
  overflow: hidden;
  border: none;
  background: #e5e5e5;
}

.highlight {
  border-radius: 3px;
  position: relative;
  margin: 40px 0;
  font-size: 14px;
}

.highlight pre {
  padding: 10px;
}

.archive {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 1.3em;
  text-align: center;
  color: #111;
}

.archive-title {
  font-size: 32px;
  margin-top: 60px;
}

.archive-item {
  margin: 5px 0 15px;
  padding: 0;
}

.archive-item-date {
  color: #ccc;
  font-size: 14px;
  padding: 5px 0;
  margin-top: 5px;
  display: block;
}

.archive-item-link {
  display: inline-block;
  text-decoration: none;
  font-size: 21px;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  color: #222;
  padding: 5px 0;
  border-bottom: 1px solid #ddd;
}

.archive-item-link:hover {
  border-bottom-color: #222;
}

.footer{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  min-height: 50px;
  background: #343a40;
}

.footer-inner {
  padding: 25px 0;
  margin: 0px auto;
  text-align: center;
  color: #fff;
  bottom: 0;
  width: 1000px;
  height: 100px;
  overflow: hidden;
  text-align: center;
  z-index: -2;
}

.footer-links {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 14px;
  width: 400px;
  display: inline-block;
}

.footer-links li {
  margin: 0;
  display: block;
  text-align: left;
  padding: 2px 50px;
}

.footer-links a {
  color: #aaa;
  text-decoration: none;
  transition: color 150ms ease;
  margin: 0px;
}

.footer-links a:hover{
  color: beige;
}

.footer-links a:not:hover{
  color: #aaa;
}

.footer-links li::before {
  content: '';
  position: relative;
  left: -2px;
}

.footer-links li:first-child::before {
  display: none;
}
.footer-links-kudos img {
  position: relative;
  top: 6px;
  margin-left: 2px;
}

@media (min-width: 600px) {
  .header {
    padding: 25px 0;
  }

  .nav-logo {
    margin-top: -13px;
  }

  .nav-logo img {
    max-height: 50px;
  }

  .nav-links {
    font-size: 18px;
  }

  .nav-links li {
    margin: 0 0 0 30px;
  }

  .content {
    font-size: 16px;
    line-height: 1.8;
    margin: 100px auto;
  }

  .highlight {
    font-size: 16px;
    margin: 40px -20px;
  }

  .archive {
    text-align: left;
  }

  .archive-title {
    font-size: 38px;
  }

  .archive-item-date {
    font-size: 19px;
    text-align: right;
    float: right;
  }

  .article-title {
    font-size: 42px;
  }

  .article-duration {
    font-size: 12px;
  }

  .footer-links {
    font-size: inherit;
  }
}

.not-found{
  margin: 180px auto;
}

.tags a{
  text-decoration-line: none;
  padding: 6px 8px;
  margin: 5px;
  background: #eb7356;
  font-size: 14px;
  color: #fff;
  border-radius: 20px;
  transition: 0.5s;
}

.tags a:hover{
  padding: 6px 16px;
  background: #eb7000;
}

.tags a:not:hover{
  padding: 6px 8px;
  background: #eb7356;
}


.Tags a{
  display: inline-block;
  text-decoration-line: none;
  padding: 14px 20px;
  margin: 5px;
  background: #eb7356;
  font-size: 20px;
  color: #fff;
  border-radius: 30px;
  transition: 0.5s;
}

.Tags a:hover{
  padding: 14px 24px;
  background: #eb7000;
}

.Tags a:not:hover{
  padding: 14px 20px;
  background: #eb7356;
}

.footer-img{
  background: url(../images/footer.png) no-repeat 50%;
  height: 368px;
  z-index: 1;
  position: absolute;
  bottom: 76px;
  width: 100%;
  pointer-events: none;
}

.footer-logos {
  margin: 0;
  padding: 0;
  font-size: 14px;
  width: 590px;
  display: inline-block;
  padding: 9x 0px;
}

.footer-logo {
  display: inline-block;
  float: left;

}

.footer-logos a {
  margin: 0;
  display: inline-block;
  padding: 20px 5px;
  color: #aaa;
  text-decoration: none;
  transition: 300ms;
}

.footer-logos a:hover{
  color: beige;
}

.footer-logos a:not:hover{
  color: #aaa;
}

@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1582272848172'); /* IE9 */
  src: url('iconfont.eot?t=1582272848172#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAA5AAAsAAAAAGKwAAA3wAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCERAqiLJpDATYCJAMwCxoABCAFhG0HgSob3xMjA8HGAQRE3k321xgbQ7smktLqPHtrPjfcMP8FAoQUhaP7BIC4ggtgAhIwqoQCNCwBNgBgBOwWAKMQCJ6v/X7n7l0xVJNofB2bLpaoZCqJTvKSKOWX/qdjofleLts+vcuM/+4otamrm/tc25v8hqboGoeRCM14FLqOhweeW/66iSKKuPt5GEe4m2cbjwd4XQN0s+vQ3ZUvL3Bia1A3uZm1Zy8PfPZyD7ntKQ3mTKWkKLVsCBxQsEApEEf2CMDe2N5+khw8DF3u1lEBwdDtBfTG9xIgoDIB6//bXHb5/PD3Nr275gCfA6w847/G+113uzW2hWGCAd0Ym+7bfWsNK5DEyyTLNCsAzkI8c58JQaWUAxgaArJFeblyZesI2liCEawbVOBAW0zBFpSI2OENLuPL3AtODG/NCYA79+3lCdXawHARwuZhtezD3KX1+ZNODRe2CGx+XUDHHSjYAljIztjzQn16y2Wzaat1A5jUx/33l9Znvc8GjNqw41z6kT+1QZs9J4kuMSlbG/sXD4gCy8kKw1OJQFLAVp7xPFvw2qprEfHaw5AGvZBhAQYgwwGMQkYG2AA6D7ADGQbgHDI8QIpaKN5GZCQXPAE/U7B1cjENOABuAX6P4E5d1hzBneO6FVE+s95L4AxOJEylcmFvJtfFh8pnCWgoilH8YJxkGoWOTqiVdIZWh2sQGEbE02DJeXImi85COBhGU+JSXI2imW62fd3byJ9WfGgofvBhDMfsPtwwpHgDjzVvNQ/tvPl0JapUwvmIQ9g+Wc2LTBPS2GSBOzUapRIvFWrRvU2cI1sxqJCp7a6HpomVjPDduoXxo/4xPoKyEWY9zFjVkpVRBofGWMeaDPiyFDX5R/lUKuxfcLDZskzGNJEx2bLUUlnOm0GRRQFr+bcHZAY79i9QtZJ0cQsfEK9sZuJDBXDNFK6jXOKWfGmj+fa4Ui0wLNsfGe1HEEPPw6YjAmQMNgKcRr7R1YHw8Fz9+YNz3HSpQ+ptk3ZcqHPh/DoKviWk2KjiyQINM/nc2n1zq5cmVcNdyXRvW9kRH+5sUpguXUilnB/IagZDMSoNiOvJhbjQkXKISmb0GVJDOqogQ2DgTiaamMt39bZxZHSQaoxAXUDA8BBUdJQiD0IdWgIisWfXQ9IqCn4NEzP9DwONyaYlQd0qW4wvhAyqMYwt4UGYCRa9ZqtEM6Uc1DE2LRjWpVyqVCukj1Y3ZlL9bVwElHIub8NSZAANsPJx22qpgDIsMutIDsUsCxbwKlUEyuUmixtUVM45s8t7gtlgT0uhIdOxO2Ure905lXrIVbuaw/nYhsd9TtUhr4BCo1aFW3SYj1UjrF/saaG1klRpUrrOG3h1ZExoOtUINAmdYFuhJSncwlU2UweECrQSgrpYZQFCTyZ465CIXsAkRHlaAxriW7zcFIlhcGsd/RKokT5nrj3ntefDnq7obb3umosgPiN92m4pAFsjjkPOmA/5811hz1Or+2KjmZi8Ftli0FdosO003S2MmuO6Sq5XrdT1AbNfq72cO5mUhEx3sJhI7UZjBJsEgeOozq/qHm+aLFXcjocQoENowZohLjOKpNhnVTMC+sH5wguFF9ep2SLOu2gpbOWkvanLdtp2iOPtPOYqlbyc3xWV9qr72X42YpazQqY8APMnoxyRXTvX0e4AZaJoyuaBI18FNSHGA5O73NAjttvW66me09pjp5W91xuKV+bK+241d15NEXqI4UsURtc2WgmHBrBVbgtbexn1Jw6pY0o14NP6I2OrA9Cv1585kKBCfYE1/UCECnyDRSpHo5ZcjmymagWhwuH9KS5VvebTUR8sY5z3IItktPuK2xjhknVMTtDD67m0JwRzp/QQzoAeDWpOgblq5eCMrtKB+VTdezG63+7g0j5PriczcS4NnAqXRSrgzOF4+Qymrw/BRMVD70DpmciPH0CeikN6LiehfF9YloxSR2kw0G0Hzg8BRVaVZetYMyY9AAmlAhBw9zdCIGNvo9kYk/d5s76fRWSrrwkq8a4whrld0tu3f3vAdpW9PeS6M/EBmWZ7Zl91+7bdX8m+S5MKx1PmpVjhul/3RLbpbAJupw3OoUw21Jd4HtR3fK9U7Jpw1ljF626HTa4DDqk12CvcdbR8QGxk/QfOzAWAQpchuT/O3qaRV/9fjEqGgFmtu+3MIvVl/0PA8e319vE+NwWgb8NXRWVaQu8JPTrnsXnunC+eLvz7+4Jzx2PsP24WAGdcDmjaX5YdP437uJwsoy8AhBhB46v/fOFPEmAjtk0dBu6N6h/zd69Tn516LzJl1nht8EuUHByfT/y9Ep5YnwjWjK+Px/qFr4NdjL3ELP03/V/DrFlqxN0D3kuba6Hz3e9MtZ7JIxCcq1HTEH3CTcepeC0i1QTwqPriAayLQ1jSFf2rbiieNVapeaGkpl0SEfNdMPCKCIkKELlQgKkPG23Wd6gNfWd9Pal9XvtAoKa3udiThJaMz/Z9wa2ZQ8xrmwg3Fj464MN3fEqOohAkSagiXQ8BXi09evCQIQTMQkl234pMkcOP6yGhIps3z2hfufCksaV82Lcrt8eMHR1foGkzSVX+aLGbO/M4+9EASNwuYzLalpMInx9QL/DzDzK4GjDbp6vhaTJbNHoVEaLAEn3oTAxzKOhLIEjsBPkpVAj4dyc3hooQKqbVz/87YuNWdb9GXxSj1YBQIK+vEBiXRWilBrM+AretZikXZjcqJ4WH/NUSXBeDMWPozkk3jYPKO9g38MZMZu2lVP6sgPlzHDPegcVik9k51lgGpseSabF8PY1upysKARB0yQBQujWWOsCTRaM5Q1kwyvAcSeHE8eakS3LtFBttLN2O2umVyNoLYqSEEb8ZxLGIcCbtyMA6bWh+ESSAl5iKozUvqYPS8BK8vIX6msiG6KieF4vK04FCaIfavXKhsiGFN6jvk1Vb4+A4wH4Er2yOCWEmwSncLH/LzGFNn7oT/YUChnXpl4DdyL4lFLBOCOBLINPPn8W99vgFEVU1vUWSg7NwrdubNwc4AXQ7B9djsbQwXX83LV6ZGz9mzLcxaw4/8QKe263RPwQfsCHcsQbpgwc2qgzAU3c3ass1PObx2AwHM5MlYRbwYczbOHMpP8UTxrc9V5k1rWnhl0cyoJRZQEpQ7rCYhJHL7QcoFeXwk8zkSWU+wI4dzIRSc/JTEKJm8jPIhUXFsqsGmniQlhgy1VaKjOzFLTZIdX46HZ5TZ83ifiI+9f+aQ+/bi5UTygc+FlX+8b7r/9b7z3RFpnbZyfWfjgYCI3w9dBuUaLoyaSrkl7EopQzYDkRXwoqHWYri0ccXk/D1fA+zmGo2W8xvXPnYRTGm0cppqpeA1f/r0mK2tDQC/keC376Fqa1tGGj4SPOMc4YNm2OMfNfcut646Nbz848qzDKSX9hsTqel0je5pZbB5TFEfEv/wKpY0+aCEP/XwWodo327TJJWyc5UPc2idlK00V4Dics54klNHPYFsZ3rhGIinnjx1I9jbHDMu9SBaVi/oAEBpaY0WhrazzAwpizT3+S0z1rtSmSoeEyxrhwvLp5h9wDhYbTBMEX6ZHOUFGKqWFsindphaIDPb1jaHTS5fa3pjihMdMfUTnJOhu7JrD4t5o6ls8etHr0+ouv1kYotGwomlPQnhjDKHAKyZ9bvqJKfj+8yHCmS2OWvldvAh6KNPepGI0KGiB0hY0a0f+sukHEPGzzHxgKhcySNokZJEB2U8vFAJ5vIJjHES6oxesgoS3HcAjOj15GecXkk76r3qiek4DTZ60v92qbB5piQpthFE3ok0/H/8QGB2cgIcUJDQmtk6ofw1ACQWLZWvrUNjIPMLQDu0ma/rfoxvZeDMhBdtDH+mTK5MQlyyWtbxeFsO3I6FDgWKyZxFOdg8aouj6IZ9/RJ3TkBJusWMkGztNW1Y3EqsbMN7D3S1O67GGNSAAj9rhxiGkwwoxe6ODg6IB1d5R2TDBQljiyMFeWZKVk/RgE7CqtcExJzT4yeTpOs5Q7vZe7c8KHzilJNjmsKBy4tpgOdnQdMFxTEoeAGWlb10ObosSEoTKE0Ra4dyBvQXFYwzuiUsCVa+PlE15Qpq3oSnbqliQKyf0FZ/6ZB/DtzcvlEVImkXhEy+WrqBHBObC0CabJR09Ffu6Ntrn6Efl2aM0D706cb22FDoWn4i+vv6bHR+Bcs82czfV2pRdWe2VSubGwoWNI+9bNuxNyDDfT6k98U3TZo9U7Vhv8MjPdNB+To/1cTmsZbIDJEr+BzXpa/F4gmxwRX1nhIanU8hGe2LzNn57eGGpzB0AdbF2Q5AI0GRn0vQzrx8dclYgzrlBnBQpmKlsQ2Y6vMKboyL9ouyzatLi7GaI3IiVPfhieUiWFvZcagHq2mjA/aIuOrzJn0T3kU1FiWnQeDPhYrqY5FjQ6jL9xroTxKpVJzh7f+AAMTO5qIlqUT1HVFqagUy9P5VUxRz8NO/SKoMkshNSVihdnAOCaRaQrR42INc9lEqSR7doseJdBhn4YcbFf1Ca7rloqHpOT5rCP1+gdQwIg5dMGxo5YnkFanLi5UFJUriFfZtNKx67K17kKgiqlLEnqvRhLCCnWhWM4QITMbCyEPK6o1mMpMKNFpsipbXD6XnOIsJ9+JIoAaGFGx4sRLkChJvpRtVRnA1Ymj4q7FHct1GKUtLbRJx0OXKGpLagfYUNwO3dTUjaGEXCcttPjkRaibL1G5NMpkOJflElWNk7LJFN1c2UHNNDFfXjYFiisAAAAA') format('woff2'),
  url('iconfont.woff?t=1582272848172') format('woff'),
  url('iconfont.ttf?t=1582272848172') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1582272848172#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 50px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-gmail:before {
  content: "\e785";
}

.icon-CN_bilibiliB:before {
  content: "\e64e";
}

.icon-facebook:before {
  content: "\e66e";
}

.icon-bilibili:before {
  content: "\e60f";
}

.icon-tubiaozhizuomoban-:before {
  content: "\e612";
}

.icon-docker:before {
  content: "\e659";
}

.icon-weibo:before {
  content: "\e60e";
}

.icon-toutiaotiaozhuantupian-:before {
  content: "\e607";
}

.icon-zhihu:before {
  content: "\e716";
}

.icon-ttww:before {
  content: "\e617";
}

.icon-git1:before {
  content: "\e64a";
}